body {
  text-align: center;
}

table {
  margin: auto;
  margin-top: 20px;
  text-align: center;
   border-collapse: collapse;
}

th, td {
  border: 1px solid black;
}

thead {
  background-color: black;
  color: #e2e256;
}

form {
  margin: auto;
  width: 12%;
  border: 1px solid black;
  text-align: center;
}
